<div id="page-wrapper" ng-controller="clienteController" ng-init="getClientes();">
    <br><br><br>
    <h3 class="tit2">Clientes</h3>
    <br><br>
    
   <div style="width: 300px;margin-left: 100px">
       <input type="text" class="form-control" ng-model="buscar" style="width: 320px"><i class="glyphicon glyphicon-search" style="top:-25px;float: right;color: black"></i>
   </div>
   
    <br>
    <div id="resultado"></div>
    <br>
    <table class="table table-hover">
    	<thead>
    		<tr>
    			<th>#</th>
    			<th>Apellidos</th>
                <th>Nombres</th>
                <th>DNI</th>
                <th></th>
                
    		</tr>
    	</thead>
    	<tbody>
               <tr ng-repeat="x in cliente | filter:buscar">
                    <td>{{$index+1}}</td>
                    <td>{{x.apellidos}}</td>
                    <td>{{x.nombres}}</td>
                    <td>{{x.dni}}</td>
                    <td><a  class="btn btn-primary" href="" ng-click="verCliente(x);" data-toggle="modal" data-target="#vercliente"><i class="glyphicon glyphicon-plus"></i></a></td>
              </tr> 
    	</tbody>
  	</table>
    <div class="modal fade" id="vercliente" tabindex="-1" role="dialog" aria-labelledby="vercliente">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Información de cliente</h2>
                </div>
                <div class="modal-body row" style="color:black">

                    <div class="col-md-6 text-right">Nombre: </div> <div class="col-md-6" ng-bind="nombre" style="min-width: 100px" ></div>
                    <div class="col-md-6 text-right">Apellidos: </div><div class="col-md-6" ng-bind="apellido" style="min-width: 100px" ></div>
                    <div class="col-md-6 text-right">Documento de Identidad: </div><div class="col-md-6" ng-bind="dni" style="min-width: 100px" ></div>                    
                    <div class="col-md-6 text-right">Sexo: </div><div class="col-md-6" ng-bind="sexo" ></div>                   
                    <div class="col-md-6 text-right">Fecha de nacimiento: </div> <div class="col-md-6" ng-bind="nacimiento" style="min-width: 100px" ></div>
                    <div class="col-md-6 text-right">Ocupacion: </div><div class="col-md-6" ng-bind="prof_ocup" style="min-width: 100px" ></div>
                    <div class="col-md-6 text-right">Ciudad: </div><div class="col-md-6" ng-bind="ciudad" style="min-width: 100px" ></div>
                    <div class="col-md-6 text-right">Pais: </div><div class="col-md-6" ng-bind="pais"  style="min-width: 100px"></div>
                    <div class="col-md-6 text-right">Telefono o celular: </div> <div class="col-md-6" ng-bind="celular"  style="min-width: 100px"></div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>