<div id="page-wrapper" ng-controller="reservaController" ng-init="getAllreserva();">
    <br><br><br>
    <h3 class="tit2">Historial de Reservas</h3>
    <br><br>
    
   <div style="width: 300px;margin-left: 100px">
       <input type="text" class="form-control" ng-model="buscar" style="width: 320px"><i class="glyphicon glyphicon-search" style="top:-25px;float: right;color: black"></i>
   </div>
   
    <br>
    <div id="resultado"></div>
    <br>
    <table class="table table-hover">
    	<thead>
    		<tr>
    			<th>#</th>
    			<th>Apellidos y nombre</th>
                <th>Documento</th>
                <th>Fecha de reserva</th>
                <th>Estado de la reserva</th>
                <th>Total</th>
                <th>Detalles</th>
    		</tr>
    	</thead>
    	<tbody>
               <tr ng-repeat="x in allreservas | filter:buscar">
                    <td>{{$index+1}}</td>
                    <td>{{x.apellidos}}, {{x.nombres}}</td>
                    <td>{{x.dni}}</td>
                    <td>{{x.fecha_reserva}}</td>
                    <td>{{x.estado}}</td>
                    <td>{{x.total}}</td>
                    <td><a  class="btn btn-primary" href="" ng-click="verCliente(x);" data-toggle="modal" data-target="#vercliente"><i class="glyphicon glyphicon-plus"></i></a></td>
              </tr> 
    	</tbody>
  	</table>
    <div class="modal fade" id="vercliente" tabindex="-1" role="dialog" aria-labelledby="vercliente">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Informacion de la reserva</h2>
                </div>
                <div class="modal-body" style="color:black">
                    <div class="">
                        <div class="col m3">Nombre: </div>
                        <div style="width: 100px;background-color: red" ng-bind="nombre"></div>
                        <div class="col m3">Apellidos: </div>
                        <div class="col m3" ng-bind="apellido"></div>
                        <div class="col m3">Documento de Identidad: </div>
                        <div class="col m3" ng-bind="dni"></div>
                        <div class="col m3">fecha de la reserva: </div>
                        <div class="col m3" ng-bind="fecha_reserva"></div>
                        <div class="col m3">fecha de para la reserve : </div>
                        <div class="col m3" ng-bind="fecha_inicio"></div>
                        <div class="col m3">Fecha de la salida : </div>
                        <div class="col m3" ng-bind="fecha_fin"></div>
                        <div class="col m3">Tipo de pago: </div>
                        <div class="col m3" ng-bind="pagotipo"></div>
                        <div class="col m3">Total: </div>
                        <div class="col m3" ng-bind="total"></div>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>