<div id="page-wrapper" ng-controller="reservaController" ng-init="getAllreserva();">
    <br><br><br>
    <h3 class="tit2">Historial de Reservas</h3>
    <br><br>
    
   <div style="width: 300px;margin-left: 100px">
       <input type="text" class="form-control" ng-model="buscar" style="width: 320px"><i class="glyphicon glyphicon-search" style="top:-25px;float: right;color: black"></i>
   </div>
   
    <br>
    <div id="resultado"></div>
    <br>
    <table class="table table-hover">
    	<thead>
    		<tr>
    			<th>Código</th>
    			<th>Check in</th>
                <th>Check out</th>
                <th>Nombre</th>
                <th>Estado</th>
    		</tr>
    	</thead>
    	<tbody>
               <tr ng-repeat="x in allreservas | filter:buscar | orderBy:'fecha_inicio':true">
                    <td>{{x.codigo_reserva}}</td>
                    <td>{{x.soloFecha |  date:'d MMM yyyy'}}</td>
                    <td>{{x.soloFecha2 |  date:'d MMM yyyy'}}</td>
                    <td>{{x.cliente.nombres}}</td>
                    <td>{{x.reservaestado.estado}}</td>
                    <td><a  class="btn btn-primary" href="" ng-click="verCliente(x);" data-toggle="modal" data-target="#vercliente"><i class="glyphicon glyphicon-plus"></i></a></td>
              </tr> 
    	</tbody>
  	</table>
    <div class="modal fade" id="vercliente" tabindex="-1" role="dialog" aria-labelledby="vercliente">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Informacion de la reserva</h2>
                </div>
                <div class="modal-body row" style="color:black;font-size: 1.5rem">
                    <table class="center_block">
                        <tbody>
                            <tr>
                                <td class="text-right" width="280">Codigo:</td>
                                <td ng-bind="codigo_reserva" style="padding-left: 20px"></td>
                            </tr>
                            <tr>
                                <td class="text-right">Nombre:</td>
                                <td ng-bind="nombre" style="padding-left: 20px"></td>
                            </tr>
                            <tr>
                                <td class="text-right">Apellidos: </td>
                                <td ng-bind="apellido" style="padding-left: 20px"></td>
                            </tr>
                            <tr>
                                <td class="text-right">Documento de Identidad:</td>
                                <td ng-bind="dni" style="padding-left: 20px"></td>
                            </tr>
                            <tr>
                                <td class="text-right">Fecha de reservas:</td>
                                <td ng-bind="fecha_reserva" style="padding-left: 20px"></td>
                            </tr>
                            <tr>
                                <td class="text-right">Check in: </td>
                                <td ng-bind="fecha_inicio" style="padding-left: 20px"></td>
                            </tr>
                            <tr>
                                <td class="text-right">Check out :</td>
                                <td ng-bind="fecha_fin" style="padding-left: 20px"></td>
                            </tr>
                            <tr>
                                <td class="text-right">Tipo de pago:</td>
                                <td ng-bind="pagotipo" style="padding-left: 20px"></td>
                            </tr>
                            <tr>
                                <td class="text-right">Total</td>
                                <td ng-bind="total" style="padding-left: 20px"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table " style="width: 60%;margin: 30px auto 40px auto;">
                        <thead> 
                            <tr>
                                <th class="text-center">Tipo de habitación</th>
                                <th class="text-center">Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" ng-repeat="q in grupo">
                                <td>{{q.nombre}}</td>
                               <td>{{q.count}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>