<div id="page-wrapper" ng-controller="reservaController" ng-init="getReservasPorAsignar();">
    <br><br><br>
    <h3 class="tit2">Reservas Por Asignar</h3>
    <br><br>
    <div ng-repeat="y in reservas" class="row" style="margin: -10px 0px 30px 10px; box-shadow: 5px 5px 5px #888888; border:1px solid #b3b3b3">
        <p><h3>Reserva # {{$index+1}}</h3></p>
        
        
        <div class="col-sm-5">
            <h4>Detalles</h4>
            <p>Reservado para: {{ y.cliente.nombres }} {{ y.cliente.apellidos }} </p>
            <p>Fecha de Entrada: {{ y.fecha_inicio }}</p>
            <p>Fecha de Salida: {{ y.fecha_fin }}</p>
        </div>

        <div class="col-sm-4">
            <h4>Habitaciones</h4>
            <table class="table">
                <thead>
                    <tr>
                        <td>Tipo de Habitación</td>
                        <td>Por Asignar</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="z in y.habtiposcount">
                        <td>{{ z.nombre }}</td>
                        <td>{{ z.count }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-3">
            <a href="admin#/ReservaAsignar/{{y.id}}" class="btn btn-primary">Asignar Habitaciones</a>
        </div>
    </div>
    

