<div id="page-wrapper" ng-controller="reservaController" ng-init="getReservasPorAsignar();" style="width: 80%;margin: 20px auto 40px auto;">
    <br><br><br>
    <h3 class="tit2">Reservas</h3>
    <br><br>
    <div style="width: 310px;float: right">
         <input type="text" class="form-control" ng-model="buscar" style="width: 320px"><i class="glyphicon glyphicon-search" style="top:-25px;float: right;color: black"></i>
    </div>
   
    <div ng-repeat="y in reservas | filter:buscar" class="row">
        <p>
            <button class="btn reserva-item row" type="button" data-toggle="collapse" data-target="#{{y.id}}" aria-expanded="false" aria-controls="collapseExample">
                <div class="col-md-3">
                    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                    {{ y.cliente.nombres }} {{ y.cliente.apellidos }}
                </div>
                <div class="col-md-4">
                    Entrada: {{ y.fecha_inicio }}
                </div>
                <div class="col-md-2">
                     Código : {{ y.codigo_reserva }} 
                </div>
                <div class="col-md-3" style="text-align: right">
                    {{ y.pagotipo.pagotipo }}
                </div>
                   
            </button>
        </p>
            <div class="collapse" id="{{y.id}}" style="padding: 20px;border-width:0.1px;border:solid;border-radius: 5px;margin-bottom:10px">
              <div class="card card-block row" style="color:black">
                <div class="col-md-4">
                    <p>Fecha de Entrada:</p>
                    <p style="margin-left: 30px">{{ y.fecha_inicio }}</p>
                    <p>Fecha de Salida: </p>
                    <p style="margin-left: 30px">{{ y.fecha_fin }}</p>
                </div >    
                
                <div class="col-md-4">
                    <table class="table table-bordered" style="text-align: center">
                        <thead>
                            <tr>
                                <th colspan="2" style="text-align: center">Reserva</th>
                            </tr>      
                            <tr>
                                <th style="text-align: center">Habitaciones</th>
                                <th style="text-align: center">Cant.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="z in y.habtiposcount">
                                <td>{{ z.nombre }}</td>
                                <td>{{ z.count }}</td>
                            </tr>
                        </tbody>
                    </table>
                
            </div>
            <div class="col-sm-3" style="bottom: 0;">
                <a href="" ng-click="buscarHabs(y)" data-toggle="modal" data-target="#asignar" class="btn btn-success col-md-12" style="margin-bottom: 10px">Asignar Habitaciones</a>
                <a href="" ng-click="cancelar(y.id)" class="btn btn-danger col-md-12" style="margin-bottom: 10px">Cancelar Reserva</a>
                <a href="" ng-click="dataEditar(y)" class="btn btn-warning col-md-12" data-toggle="modal" data-target="#editar" style="margin-bottom: 10px">Editar Reserva</a>
            </div>
          </div>
        </div>
        <div class="modal fade" id="editar" tabindex="-1" role="dialog" aria-labelledby="editarModal" style="width: 90%">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h2 class="modal-title" id="myModalLabel">Editar Reserva</h2>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group ">
                                <label for="">Nombre de Cliente: </label>
                                <label for="">{{nom}}</label>
                            </div>
                            <div class="form-group ">
                                <label for="">Dni: </label>
                                <label for="">{{dni}}</label>
                            </div>
                            <div class="form-group ">
                                <label for="">Reserva por: </label>
                                <label for="">{{pagotipo}}</label>
                            </div>
                            <div class="col-md-12">
                                <table class="table">
                                    Habitaciones: 
                                    <tbody>
                                        <tr ng-repeat="z in habtiposcount">
                                            <td>{{ z.nombre }}</td>
                                            <td>{{ z.count }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <div class="form-group ">
                                <label for="">Fecha de Inicio</label>
                                <input type="date" class="form-control" id="fechaini" placeholder="fecha inicio" ng-model="fechaini">
                                <div class="cl" style="margin-left: 90px;"><img class="cld" src="plugins/css/imgc.png" alt=""></div>
                            </div>
                            <div class="form-group ">
                                <label for="pais">Fecha Fin</label>
                                <input type="date" class="form-control" id="fechafin" placeholder="fecha fin" ng-model="fechafin">
                                <div class="cl" style="margin-left: 90px;"><img class="cld" src="plugins/css/imgc.png" alt=""></div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a href="" class="btn btn-primary" ng-click="editar();">Guardar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="asignar" tabindex="-1" role="dialog" aria-labelledby="editarModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h2 class="modal-title" id="myModalLabel">Asignar Habitaciones</h2>
                    </div>
                    <div class="modal-body">
                        <br><br>
                    <div class="formularios">
                            <div class="row" style="width: 100%" >
                                <div class="col-md-4">
                                     <p>Reservado para:  </p>
                                    <p style="margin-left: 20px">{{ Reservas.cliente.nombres }} {{ Reservas.cliente.apellidos }}</p>
                                </div>
                               <div class="col-md-4">
                                   <p>Fecha de Entrada: </p>
                                    <p style="margin-left: 20px">{{ Reservas.fecha_inicio }}</p>
                               </div>
                                <div class="col-md-4">
                                    <p>Fecha de Salida: </p>
                                    <p style="margin-left: 20px">{{ Reservas.fecha_fin }}</p>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="" style="margin-top: 20px">
                            <table class="table  table-bordered">
                                <thead>
                                    <tr>
                                        <th>Habitaciones</th>
                                        <th>Cant.</th>
                                        
                                    </tr>
                                        
                                </thead>
                                <tbody>
                                    <tr ng-repeat="z in Reservas.habtiposcount">
                                        <td>{{ z.nombre }}</td>
                                        <td>{{ z.count }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    <br>
                    <div>
                        
                    </div>
                    <div ng-repeat="habtipo in tipoPerHabs">
                        <h3 style="color:black">{{habtipo.nombre}}</h3>
                        <div style="width: 80% ;margin:10px auto 10px auto">
                            <div class="col-md-6"> <div style="width: 100%;left: 0;height: 25px;text-align: center; border-radius: 5px 5px 0px 0px; background-color:#1E8BC3;color:black;">Reservadas: {{habtipo.habtiporeservascount}}</div></div> 
                            <div class="col-md-6"> <div style="width: 100%;left: 0;height: 25px;text-align: center; border-radius: 5px 5px 0px 0px; background-color:#F9690E;color:black;">disponibles: {{habtipo.habitacionescount - habtipo.habtiporeservascount}}</div></div>  
                        </div>
                        <div class="">
                            <table class="table table-hover" style="box-shadow: 5px 5px 5px #888888">
                                <thead>
                                    <tr>
                                        <th>Número Habitación</th>
                                        <th>Estado</th>
                                        <th>Ocupar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="p in habtipo.habitaciones">
                                        
                                        <td>{{p.numero}}</td>
                                        <td>{{p.estado.nombre}}</td>
                                        <td>
                                            <div class="checkbox">
                                              <label>
                                                <input type="checkbox" id="{{ p.numero }}" ng-change="clickOnCheck(p);" ng-model="checks" class="checks" style="left: 45%">
                                              </label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                    <div class="modal-footer">
                        <a href="" data-dismiss="modal" class="btn btn-success" id="guardarChecks" ng-click="guardarRegistros(); " style="display:none;position: fixed;" >Guardar Cambios</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>    
<script>
$('#myCollapsible').collapse({
  toggle: false
})

    
</script>