<div id="page-wrapper" ng-controller="reservaController" ng-init="getReservasPorConfirmar();" style="width: 80%;margin: 20px auto 40px auto;">
    <br><br><br>
    <h3 class="tit2">Reservas Por Confirmar</h3>
    <br><br>
    <div style="width: 310px;float: right">
         <input type="text" class="form-control" ng-model="buscar" style="width: 320px"><i class="glyphicon glyphicon-search" style="top:-25px;float: right;color: black"></i>
    </div>
    <div ng-repeat="y in reservas | filter:buscar" class="row">
        <p>
          <button class="btn reserva-item" type="button" data-toggle="collapse" data-target="#{{y.id}}" aria-expanded="false" aria-controls="collapseExample">
            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
             {{ y.cliente.nombres }} {{ y.cliente.apellidos }} - {{ y.cliente.dni }} | Forma de Pago: {{ y.pagotipo.pagotipo }} | Fecha Entrada: {{ y.fecha_inicio }}
          </button>
        </p>

            <div class="collapse" id="{{y.id}}" style="padding: 20px;border-width:0.1px;border:solid;border-radius: 5px;margin-bottom:10px">
              <div class="card card-block row" style="color:black">
                <div class="col-md-4">
                    <p>Fecha de Entrada:</p>
                    <p style="margin-left: 30px">{{ y.fecha_inicio }}</p>
                    <p>Fecha de Salida: </p>
                    <p style="margin-left: 30px">{{ y.fecha_fin }}</p>
                </div >    
                
                <div class="col-md-4">
                    <table class="table">
                        <p class="text-center">Habitaciones</p>
                        <tbody>
                            <tr ng-repeat="z in y.habtiposcount">
                                <td>{{ z.nombre }}</td>
                                <td>{{ z.count }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            <div class="col-sm-4" style="bottom: 0;">
                <p><a href="" ng-click="confirmar(y.id)" class="btn btn-success">Confirmar Reserva</a></p>
                <p><a href="" ng-click="cancelar(y.id)" class="btn btn-danger">Cancelar Reserva</a></p>
                <p><a href="" ng-click="dataEditar(y)" class="btn btn-warning" data-toggle="modal" data-target="#editar">Editar Reserva</a></p>
            </div>
          </div>
        </div>
        <div class="modal fade" id="editar" tabindex="-1" role="dialog" aria-labelledby="editarModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h2 class="modal-title" id="myModalLabel">Editar Reserva</h2>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group ">
                                <label for="">Nombre de Cliente: </label>
                                <label for="">{{nom}}</label>
                            </div>
                            <div class="form-group ">
                                <label for="">Dni: </label>
                                <label for="">{{dni}}</label>
                            </div>
                            <div class="form-group ">
                                <label for="">Reserva por: </label>
                                <label for="">{{pagotipo}}</label>
                            </div>
                            <div class="col-md-12">
                                <table class="table">
                                    Habitaciones: 
                                    <tbody>
                                        <tr ng-repeat="z in habtiposcount">
                                            <td>{{ z.nombre }}</td>
                                            <td>{{ z.count }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <div class="form-group ">
                                <label for="">Fecha de Inicio</label>
                                <input type="date" class="form-control" id="fechaini" placeholder="fecha inicio" ng-model="fechaini">
                                 <div class="cl" style="margin-left: 90px;"><img class="cld" src="plugins/css/imgc.png" alt=""></div>
                            </div>
                            <div class="form-group ">
                                <label for="pais">Fecha Fin</label>
                                <input type="date" class="form-control" id="fechafin" placeholder="fecha fin" ng-model="fechafin">
                                 <div class="cl" style="margin-left: 90px;"><img class="cld" src="plugins/css/imgc.png" alt=""></div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a href="" class="btn btn-primary" ng-click="editar();">Guardar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>    
<script>
$('#myCollapsible').collapse({
  toggle: false
})
    
</script>