<div id="page-wrapper" ng-controller="porcentajeController">
<br><br>
<label>{{mensaje}}</label>
   
    <h3 class="text-center tit2">Crear Porcentaje para pago de Reservas Online</h3>
    <div class="formularios">    
    <form>
        <div class="form-group">
            <label for="moneda">Valor de Porcentaje</label>
            <input type="text" class="form-control" id="porcentaje" ng-model="porcentaje">
        </div>
        
        <div class="inputs">
            <a href="" ng-click="enviar();"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><p>Guardar</p></a><br><br>
        </div>
    </form>
    </div>

</div>