<div id="page-wrapper" ng-controller="porcentajeController" ng-init="getPorcentajes();">
    <br><br><br>
    <h3 class="tit2">Porcentaje de Descuento para Reservas Online</h3>
    <br><br>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <td colspan="4">
                    <a href="#/Porcentaje/crear" class="btn btn-primary hb"><span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>Nuevo Porcentaje</a>
                </td>
            </tr>
            <tr>
                <th>#</th>
                <th>Porcentaje</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in porcentajes">
                <td>{{$index+1}}</td>
                <td>{{x.porcentaje}} %</td>
                <td>
                    <a href="" ng-click="dataEditar(x);" data-toggle="modal" data-target="#editar" class="btn btn-success"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    <button ng-click="eliminar(x.id);" class="btn btn-danger"> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                </td>
              </tr>
        </tbody>
    </table>

   
    <div class="modal fade" id="editar" tabindex="-1" role="dialog" aria-labelledby="editarModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="myModalLabel">Editar Porcentaje</h2>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group ">
                            <label for="">Valor del Porcentaje</label>
                            <input type="text" class="form-control" id="porcentaje" placeholder="porcentaje" ng-model="porcentaje">
                        </div
                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a href="" class="btn btn-primary" ng-click="editar();" data-dismiss="modal">Guardar</a>
                </div>
            </div>
        </div>
    </div>
</div>