<div id="page-wrapper" ng-controller="registroController" ng-init="getHabtipos();">
    <br><br><br>
    <h3 class="tit2">Registrar (Booking)</h3>
    <br><br>
    <div class="formularios">
        <table>
            <form>
                <tr>
                    <td><label for="fechaini">Fecha Inicio</label></td>
                    <td><label for="fechafin">Fecha Fin</label></td>
                    <td><label>Tipo de Habitación</label></td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group ">
                            <input type="date" class="form-control" id="fechaini" ng-model="fechaini">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="date" class="form-control" id="fechafin" ng-model="fechafin">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select id="habtipo_id" ng-model='habtipo_id' ng-options="habtipo.nombre for habtipo in habtipos track by habtipo.id" class="form-control">
                                <option value="">Seleccione una Opción...</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <a href="" class="btn btn-primary" ng-click="buscar();">Buscar</a>
                    </td>
                </tr>
            </form>
        </table>
    </div>
    <br>
    <div ng-repeat="habtipo in tipoPerHabs">
        <h3>{{habtipo.nombre}}</h3>
        <h4>Habitaciones reservadas en este periodo: {{habtipo.habtiporeservascount}}</h4>
        <h4>Disponibilidad: {{habtipo.habitacionescount - habtipo.habtiporeservascount}}</h4>        
        <table class="table table-hover">
        	<thead>
        		<tr>
        			<th>Número Habitación</th>
        			<th>Estado</th>
                    <th>Tipo de Habitación</th>
                    <th>Acción</th>
        		</tr>
        	</thead>
        	<tbody>
        		<tr ng-repeat="p in habtipo.habitaciones">
    			    
                    <td>{{p.numero}}</td>
                    <td>{{p.estado.nombre}}</td>
                    <td>{{p.habtipo.nombre}}</td>
                    <td>
                    	
                    </td>
    			  </tr>
        	</tbody>
      	</table>
    </div>

