<div id="page-wrapper" ng-controller="registroController" ng-init="buscarRegistro();" style="width: 90%;margin:40px auto 100px auto;color: black">
	<br><br><br>
	<div class="row" style="top: 20px">
		<h1 class="tit2">Detalles de Habitación</h1><br>
		<div style="margin-left: 20px;">Tipo de habitación : {{ registro.habitacion.habtipo.nombre }}</div><br>
		<div style="margin-left: 20px;">Numero habitación : {{ registro.habitacion.numero }}</div><br>
		<div class="col-sm-12 col-md-4 infos">
			<p>Fecha Entrada :</p>
			<p style="margin-left: 35px">{{ registro.fechaentrada }}</p>
		</div>
		<div class="col-sm-12 col-md-4 infos">
			<p>Fecha Salida :</p>
			<p style="margin-left: 35px">{{ registro.fechasalida }}</p>
		</div>
		<div class="col-sm-12 col-md-4 infos">
			<p>Código de Reserva :</p>
			<p style="margin-left: 35px">{{ registro.codigo_reserva }}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-7 cont-hues">
			<h3>Huéspedes</h3>
			<div class="separador"></div>
			<a  class="btn btn-success" onclick="sal()" style="margin-top:-40px;float: right"><i class="glyphicon glyphicon-plus"></i></a>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Procedencia</th>
						<th>Destino</th>
						<th>Eliminar</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="huesped in regClientes">
						<td>{{huesped.cliente.nombres}} {{huesped.cliente.apellidos}}</td>
						<td>{{huesped.procedencia}}</td>
						<td>{{huesped.destino}}</td>
						<td>
							<a href="" class="btn btn-warning" ng-click="eliminarHuesped(huesped.id);">X</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<object class="addcliente" id="caja">
		<div style="display:block;background-color: #4183D7;height: 50px;padding: 15px">
			<div class="text-center" style="display: block;font-size: 1.5rem;font-weight: bold;color: white;">Registro de Huespedes</div>
		</div>
		
		<div class="form-registro">
			<br>
			<div class="form-group">
				<label for="exampleInputEmail1">DNI</label>
				<div class="form-inline" style="width: 100%">
					<input type="text" class="form-control" id="" placeholder="Documento de Indentidad" ng-blur="buscarHuesped();" ng-model="dni">
				</div>
			    
			</div>
			<br>
			<div class="form-group">
				<label for="exampleInputEmail1">Nombres</label>
			    <input type="text" class="form-control" id="nom" placeholder="Nombres del cliente" ng-model="nombres">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Apellidos</label>
			    <input type="text" class="form-control" id="" placeholder="Apellidos del cliente" ng-model="apellidos">
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" id="sexo" ng-model="sexo" value="Masculino" checked>
			    Hombre
			  </label>
			   <label>
			    <input type="radio" name="optionsRadios" id="sexo" ng-model="sexo" value="Femenino" >
			    Mujer
			  </label>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Fecha de Nacimiento</label>
			    <input type="date" class="form-control" id="" ng-model="fechanac">
			    <div class="cl" style="margin-left: 120px"><img class="cld" src="plugins/css/imgc.png" alt=""></div>
			</div>
			<div class="form-group">
				<p style="font-weight: bold;">Estado Civil</p>
				<select class="form-control" ng-model="estadoCivil" placeholder="Pais">
					<option>Soltero</option>
					<option>Casado</option>
					<option>Viudo</option>
					<option>Divorciado</option>
				</select>
			</div>
			<div class="form-group">
				<p style="font-weight: bold;">Pais</p>
				<select for="pais" class="form-control"  ng-model="pais">
					<option>Estados Unidos</option>
					<option>Perú</option>
					<option>Chile</option>
					<option>Bolivia</option>
					<option>Colombia</option>
					<option>Uruguay</option>
					<option>Mexico</option>
					<option>Venezuela</option>
					<option>Colombia</option>
					<option>Otros</option>
				</select>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Ciudad</label>
			    <input type="text" class="form-control" id="" placeholder="Ciudad" ng-model="ciudad">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Procedencia</label>
			    <input type="text" class="form-control" id="" placeholder="Pais/Ciudad de Procedencia del cliente" ng-model="procedencia">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Destino</label>
			    <input type="text" class="form-control" id="" placeholder="Destino final" ng-model="destino">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Telefono movil</label>
			    <input type="text" class="form-control" id="" placeholder="Telefono movil" ng-model="celular">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Profesión u Ocupación</label>
			    <input type="text" class="form-control" id="" placeholder="" ng-model="prof_ocup">
			</div>
			<div class="form-group" ng-if="huesped == 'false'">
				<a class="btn btn-primary center-block" ng-click="nuevoHuesped();">+ Agregar</a>
			</div>
			<div class="form-group" ng-if="huesped == 'true'">
				<a class="btn btn-primary center-block" ng-click="editarHuesped();">+ Agregar</a>
			</div>
		</object>

	
	<br>
	<a href="admin#/DetalleHabitaciones" class="btn btn-primary">Guardar Cambios</a>
</div>

<script>
	var clic = 1;
    function sal(){ 
    if(clic==1){
       document.getElementById("caja").style.width = "350px";
       document.getElementById("caja").style.transition = "all 1s";
       clic = clic + 1;
    } else
    {
       document.getElementById("caja").style.width = "0px"; 
       document.getElementById("caja").style.transition = "all 1s";     
       clic = 1;
   }   
}
</script>