@import url(https://fonts.googleapis.com/css?family=Niconne);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
.swiper-container{
	top: 5px;
}
.brand-logo{
	font-family: 'Niconne', cursive;
}
.nav-wrapper ul li a{
	font-family: 'Montserrat', sans-serif;
	color: rgb(120,120,120);
}
.cart-titulo{
	font-family: 'Montserrat', sans-serif;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 1.5rem;
}
.cart-contenido{
	margin: 5px 25px 20px 10px;
	color: rgb(120,120,120);
	text-align: justify;
	letter-spacing:0.7px;
	line-height:20px;
}
.cart-precio{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 1.4rem;
	margin-bottom: 10px;
}
@media (max-width: 600px) {
  .cart-sk{
	padding-top: 0px;
  }
}
