@import url(https://fonts.googleapis.com/css?family=Niconne);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
.swiper-container{
	top: 5px;
}
.brand-logo{
	font-family: 'Niconne', cursive;
}
.nav-wrapper ul li a{
	font-family: 'Montserrat', sans-serif;
	color: rgb(120,120,120);
}
.cart-titulo{
	font-family: 'Montserrat', sans-serif;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 1.5rem;
}
.cart-contenido{
	margin: 5px 25px 20px 10px;
	color: rgb(120,120,120);
	text-align: justify;
	letter-spacing:0.7px;
	line-height:20px;
}
.cart-precio{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 1.4rem;
	margin-bottom: 10px;
}
@media (max-width: 600px) {
  .cart-sk{
	padding-top: 0px;
  }
}
.tit-res{
	width:100%;
	background-color:black;
	height:40px;
	color:white;
	margin-top:-15px;
	border-radius: 10px 10px 0px 0px;
	padding-top:10px; 
}
.nav-txt{
	margin-top: 30px
}
/*noticias */
.noticia-cont h3{
	font-size: 2rem;
	margin-bottom: 30px;
}
.noticia-cont div{
	font-size: 1rem;
	margin-bottom: 5px;
}
.container2{
	width: 80%;
	margin:30px auto 60px auto;
}
.con-form{
	margin-top: 30px;
}
.not{
	margin-bottom: 120px;
}
/*Contacto*/
.cont-info{
	
	color: black;
	padding-top: 50px;
}
.cont-info p{
	margin-left: 30px;
}
.text-center{
	text-align: center;
}
/*Perfil de las habitaciones*/
.swiper-container {
        width: 90%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
.swiper-slide {
        background-size: cover;
        background-position: center;
    }
    .gallery-top {
        height: 80%;
        width: 100%;
    }
    .gallery-thumbs {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-active {
        opacity: 1;
    }
.cont-perfil{
	width: 80%;
	margin: 60px auto 60px auto;
}