@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);
.ser-ico{
  font-size: 5rem;
  text-align: center;
  margin-bottom: 10px;
}
.ser-cont{
  margin: 10px 0 20px 0;
}
nav div ul li a{
  font-family: 'Open Sans', sans-serif;
  color: #96281B;
}