
<div ng-controller="graficasController" ng-init="getgrafCircle();" class="row" style="display: block;width: 100%;height: 100%;">
	<div class="col-md-8">
		<div style="padding: 20px;border-radius: 10px;border:solid;border-width: 1px;margin: 20px">
			<div class="row" style="color: black;border-bottom: solid;border-width: 1px;border-color:rgb(200,200,200);padding-bottom: 10px ">
				<div class="col-md-6 " style="text-align: right;margin-top: 8px;font-size: 1.6rem">Reservas realizadas : </div>
				<div class="col-md-6">
					<select class="form-control" id="" ng-change="interval()"  ng-model="ve">
					<option value="dia">Esta semana</option>
					<option value="mes">Por meses</option>
					<option value="año">Por años</option>
				</select>
				</div>
			</div>
			<div id="reservas" style="display: block;width: 100%"></div>
		</div>
	</div>

	<div class="col-md-4">
		<div style="padding: 20px;border-radius: 10px;border:solid;border-width: 1px;margin: 20px">
			<div style="text-align: center;border-bottom: solid;border-width:1px;height: 25px ;color: black">Estadisticas de Habitaciones</div>
			<div class="" style="width: 200px;height: 300px">
				<div id="graph" style="display: block;position: relative;margin-top: -80px"></div>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div style="padding: 20px;border-radius: 10px;border:solid;border-width: 1px;margin: 20px">
			<div class="row" style="color: black;border-bottom: solid;border-width: 1px;border-color:rgb(200,200,200);padding-bottom: 10px ">
				<div class="col-md-6 " style="text-align: right;margin-top: 5px;font-size: 1.6rem">Ingresos :</div>
				<div class="col-md-6">
					<select class="form-control" id="">
					<option value="semana">Esta semana</option>
					<option value="mes">Por meses</option>
					<option value="año">Por años</option>
				</select>
				</div>
			</div>
			<div id="ganacias" style="display: block;width: 100%"></div>
		</div>
	</div>
<div>
<script>
Morris.Bar({
  element: 'ganacias',
  data: [
    {x: 'Lunes', y: 3},
    {x: 'Martes', y: 2},
    {x: 'Miercoles', y: 4},
    {x: 'Jueves', y: 6},
    {x: 'Viernes', y: 12},
    {x: 'Sabado', y: 4},
    {x: 'Domingo', y: 15},
  ],
  xkey: 'x',
  ykeys: ['y'],
  labels: ['Soles']
}).on('click', function(i, row){
  console.log(i, row);
})
</script>

