<div ng-controller="graficasController" ng-init="getgrafCircle();" class="row" style="display: block;width: 100%;height: 100%;color:black">
	<div class="row" style="padding: 20px;border-radius: 10px;border:solid;border-width: 1px;margin: 20px;max-width:500px">
		<div >
			<div style="text-align: center;border-bottom: solid;border-width:1px;height: 25px ;color: black">Estadisticas de Habitaciones</div>
			<div class="col-md-6">
				<div class="" style="width: 200px;height: 300px">
					<div id="graph" style="display: block;position: relative;margin-top: -60px"></div>
				</div>
			</div>
			<div  class="col-md-6" style="color:black; padding: 20px">
				<div>
					<table class="table">
						<thead>
							<tr>
								<th>Tipo de Habitacion</th>
								<th> Cantidad</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="q in habit" >
								<td>
									{{q.nombre}}
								</td>
								<td>
									{{q.user_count}}
								</td>
							</tr>
						</tbody>
					</table> 
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12" style="padding: 20px;border-radius: 10px;border:solid;border-width: 1px;margin: 20px">
		<div >
			<div class="row" style="color: black;border-bottom: solid;border-width: 1px;border-color:rgb(200,200,200);padding-bottom: 10px ">
				<div class="col-md-6 " style="text-align: right;margin-top: 8px;font-size: 1.6rem">Reservas realizadas : </div>
				<div class="col-md-6">
					<select class="form-control" id="" ng-change="interval()"  ng-model="ve">
					<option value="dia">Esta semana</option>
					<option value="mes">Por meses</option>
					<option value="año">Por años</option>
				</select>
				</div>
			</div>
			<div>
				<div class="col-md-8">
					<div id="reservasdias"></div>
				</div>
				<div class="col-md-4">
					<div ng-repeat="e in diasReservas">
						<table class="table">
							<thead>
								<tr>
									<th>
										Fechas
									</th>
									<th>
										Reservas
									</th>
								</tr>
							</thead>	
							<tbody>
								<tr>
									<td>
										{{e.fecha_inicio}}
									</td>
									<td>
										{{e.cantidad}}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
			<div class="col-md-8">
				<div id="reservasmeses" style="display: block;width: 100%"></div>
			</div>
			<div class="col-md-4">
					<div ng-repeat="e in mesesReservas">
						<table class="table">
							<thead>
								<tr>
									<th>
										Fechas
									</th>
									<th>
										Reservas
									</th>
								</tr>
							</thead>	
							<tbody>
								<tr>
									<td>
										{{e.fecha_inicio}}
									</td>
									<td>
										{{e.cantidad}}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
			</div>
			<div class="col-md-8">
				<div id="reservasaños" style="display: block;width: 100%"></div>
			</div>
			<div class="col-md-4">
				<div ng-repeat="f in yearsReservas">
					<table class="table">
						<thead>
							<tr>
								<th>
									Fechas
								</th>
								<th>
									Reservas
								</th>
							</tr>
						</thead>	
						<tbody>
							<tr>
								<td>
									{{f.fecha_inicio}}
								</td>
								<td>
									{{f.cantidad}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			</div>
			
		</div>
	</div>

	

	<div class="col-md-12" style="padding: 20px;border-radius: 10px;border:solid;border-width: 1px;margin: 20px">
		<div >
			<div class="row" style="color: black;border-bottom: solid;border-width: 1px;border-color:rgb(200,200,200);padding-bottom: 10px ">
				<div class="col-md-6 " style="text-align: right;margin-top: 5px;font-size: 1.6rem">Ingresos :</div>
				<div class="col-md-8">
					<select class="form-control" id="">
					<option value="semana">Esta semana</option>
					<option value="mes">Por meses</option>
					<option value="año">Por años</option>
				</select>
				</div>
			</div>
			<div class="col-md-8">
				<div id="ganaciasdias" style="display: block;width: 100%"></div>
			</div>
			<div class="col-md-4">
				<div ng-repeat="r in diasRegistros">
					<table class="table">
						<thead>
							<tr>
								<th>
									Fechas
								</th>
								<th>
									Registros
								</th>
							</tr>
						</thead>	
						<tbody>
							<tr>
								<td>
									{{r.fecha_inicio}}
								</td>
								<td>
									{{r.cantidad}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-8">
				<div id="ganaciasmeses" style="display: block;width: 100%"></div>
			</div>
			<div class="col-md-4">
				<div ng-repeat="t in mesesRegistros">
					<table class="table">
						<thead>
							<tr>
								<th>
									Fechas
								</th>
								<th>
									Registros
								</th>
							</tr>
						</thead>	
						<tbody>
							<tr>
								<td>
									{{t.fecha_inicio}}
								</td>
								<td>
									{{t.cantidad}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-8">
				<div id="ganaciasaños" style="display: block;width: 100%"></div>
			</div>
			<div class="col-md-4">
				<div ng-repeat="y in yearsRegistros">
					<table class="table">
						<thead>
							<tr>
								<th>
									Fechas
								</th>
								<th>
									Registros
								</th>
							</tr>
						</thead>	
						<tbody>
							<tr>
								<td>
									{{y.fecha_inicio}}
								</td>
								<td>
									{{y.cantidad}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			
		</div>
	</div>
<div>
<script>

</script>

