        <!-- Page Content -->
        <div id="page-wrapper">
           <section>
               <h2 class="text-center tit">Panel de control de adminstrador</h2>
               <div class="contenedor">
                    <a href="#/Habitaciones">
                        <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Habitaciones</p></div>
                           
                        </div>
                    </a>
                    <a href="#/Clientes/ver">
                        <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Clientes</p></div>
                           
                        </div>
                    </a>
                    <a href="">
                        <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Empleados</p></div>
                           
                        </div>
                    </a>
                    <a href="#/configChecks">
                        <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Hora de E/S</p></div>
                           
                        </div>
                    </a>
                    <a href="#/Moneda/ver">
                        <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Tipo de Cambio</p></div>
                           
                        </div>
                    </a>
                    <a href="#/Porcentaje/ver">
                        <div class="objeto">
                            <div class="superior text-center"><span class="glyphicon glyphicon-send" aria-hidden="true"></span></div>
                            <div class="inferior text-center"><p>Config. Pagos</p></div>
                           
                        </div>
                    </a>
               </div>
           </section>
        <!-- /#page-wrapper -->

        <!-- Custom Theme JavaScript -->
        <script src="js/sb-admin-2.js"></script>
